body {
  background-image: url("ivan-stanley-YV0VAKVwFxA-unsplash-copy.jpg");
  background-repeat: no-repeat;
  max-width: 1200px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 20px;
}

.jumbotron {
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: #229bcb15;
  color: white;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.jumbotron h4 {
  font-size: 30px;
  color: blue;
}

.row {
  margin-left: 0px;
  max-height: fit-content;
}

#city-input {
  border-radius: 4px;
  text-align: center;
  height: min-content;
}

#search-button {
  height: min-content;
  margin-top: 0;
  background-color: #2ea9d2;
  color: white;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

#clear-history {
  height: min-content;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #adbbc4;
  color: white;
  border-radius: 4px;
  margin-right: 20px;
  /* margin-right: 50px; */
}

#city-search h4 {
  color: white;
}

#weather-result {
  width: auto;
  background-color: #adbbc48a;
  color: white;
}

#weather-result h3 {
  color: white;
}

.forecast-container {
   background-color: transparent !important;

 }

 #weather-result h2{
  margin-top:20px;
  margin-left: 10px;

 }
#forecast-list {
  width: auto;
  display: inline-flex;
  border-color: white, 2px;
  border-radius:4px;
  margin-top: 20px;
  padding-left: 0px;
}
#forecast-list li {
  margin-right: 25px;
  background-color: transparent !important;
  border-color: white, 2px;
  border-radius: 4px;
}

.btn-secondary {
  margin-top: 10px;
  margin-right: 10px;
}



    